/* ************************************************************************** */
/* FOOTER Sections ********************************************************** */
/* ************************************************************************** */

/* footer 1 ***************************************************************** */
.footer-1 {
  background: url('../../images/bottom-footer-bg@2x.jpg') center center / cover;
  padding: 40px;

  p {
    line-height: 1.2rem;
  }
}
