/* ************************************************************************** */
/* Main Page Sections ******************************************************* */
/* ************************************************************************** */
// hero
.hero {
  background: url('../../images/hero-bg@2x.jpg') top center;
  height: calc(100vh - 73px);
  display: flex;
  align-items: center;

  @include isLarge {
      // max-height: 738px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .containerish {
    display: grid;
    height: inherit;

    @include isLarge {
      grid-template-columns: 75%;
      align-items: center;
      justify-content: center;
    }

    @include isXLarge {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
    .left-col {
      padding: 1rem;
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      .hero-logo {
        width: 179px;
        height: 134px;
      }
      h2 {
        line-height: 2rem !important;

        @include isXLarge {
          &.shift-right {
            margin-left: 8rem !important;
          }
        }

      }

      @include isXLarge {
        margin-top: -90px;
      }

      .section-info {
        // height: inherit;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // padding: 1rem;
        //
        // .hero-logo {
        //   width: 179px;
        //   height: 134px;
        // }
        // h2 {
        //   line-height: 2rem !important;
        //
        //   @include isXLarge {
        //     &.shift-right {
        //       margin-left: 8rem !important;
        //     }
        //   }
        //
        // }
        //
        // @include isXLarge {
        //   margin-top: -140px;
        // }
      }
    }
  }
}

// consult
.consult {
  height: 75px;
  background-color: red;

  @include isXLarge {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

// about
.about {
  height: 2500px
}
